<h3 class="page-header text-center">Connect the dots and capture a Box!</h3>
<p class="text-center">Welcome {{title}}</p>


<div class="container container-margin" style="max-width: 1400px;">
    <div class="row chat-window col-xs-4 col-md-4" id="chat_window" style="margin-left:-50px;">
        <!--<div class="col-xs-12 col-md-12">-->
        <div class="panel">
            <div id="box-invasion-chat-div" class=" panel-primary">
                <h2 class="panel-heading">Discussion</h2>
                <div id="box-invasion-chat-win" style="margin-bottom: 0px" class="">
                    <div id="messageArea">
                        <div id="typingMessage" > </div>
                    </div>
                    <input id="user" type="hidden" value="{{userName}}" />
                    <div class="input-group" style="margin-bottom:0px">
                        <span class="input-group-addon" id="basic-addon1">{{userName}}</span>
                        <input id="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="send">
                                Send</button>
                        </span>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="row col-xs-4 col-md-4" id="game_area" style="margin-left:0px;">
        <canvas id="canvas"></canvas>
        <script src="/js/game/gameclient.js"><{{!}}/script>

    </div>

    <script src="/js/socket/socketclient.js"><{{!}}/script>
    <script src="/js/chat/chatclient.js"><{{!}}/script>
    <script src="/js/game/gameclient.js"><{{!}}/script>

    <div class="row right-panel col-xs-4 col-md-4" id="right_panel_1" style="margin-right:-50px;">
        <div class="panel sub-right-panel col-xs-4 col-md-4" id="game_options" >

        </div>
        <div class="panel sub-right-panel col-xs-4 col-md-4" id="player_stats">

        </div>
        <div class="panel sub-right-panel col-xs-4 col-md-4" id="game_messages">

        </div>
    </div>
</div>