body {
  background-color: rgba(0,0,0,0.7);
  margin: 0px;
  /*rgba(27, 71, 142,0.8)*/
}
canvas {
  background-color: rgba(96, 202, 255, 0.9);
  margin-left: 20px;
  margin-right: auto;
}
h1  {
  color: white;
  margin-right: auto;
  margin-left: 50px;
}
#footer
{
  color: rgba(0, 255, 187,0.8);
  margin-left: 50px;
}
